<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>aes-encryption</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <div>
      <form>
        <input id="password" type="password" name="password" size=64 value="jc48EwciKCjrHoOg0hDFHv6WBCD0IMjuNHHdTDwyFLA="><br>
        <input id="salt" type="password" name="salt" size=64 value="g3EO68QlPRgdF7ktSwgAzg=="><br>
        <input id="plaintext" type="text" name="plaintext" size=64 value="Lorem ipsum dolor sit amet, consectetur adipiscing elit."><br>
        <input type="button" id="enc" name="enc" value="暗号化">
      </form>
    </div>
    
    <div>
      <form>
        <input id="iv" type="text" name="iv" size=64 value=""><br>
        <input id="encrypted" type="text" name="encrypted" size=64 value=""><br>
        <input type="button" id="dec" name="dec" value="復号化">
      </form>
      <code id="decrypted" name="decrypted"></code>
    </div>
    
    <script src="/app.js"></script>
  </body>
</html>
